<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_PromotionCategorys>
            <version>0.0.1</version>
        </MageProfis_PromotionCategorys>
    </modules>
   <helpers>
		<promotioncategorys>
			<class>MageProfis_PromotionCategorys_Helper</class>
		</promotioncategorys>
	</helpers>
    <global>
		<blocks>
			<promotioncategorys>
				<class>MageProfis_PromotionCategorys_Block</class>
			</promotioncategorys>
		</blocks>
        <resources>
            <add_category_attribute_setup>
                <setup>
                    <module>MageProfis_PromotionCategorys</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_attribute_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <portakosmetik>
                                            <title>Portakosmetik</title>
                                        </portakosmetik>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
	    <layout>
	        <updates>
	            <promotioncategorys>
	                <file>MageProfis_PromotionCategorys.xml</file>
	            </promotioncategorys>
	        </updates>
	    </layout>
	</frontend>
</config>
